TD.Patrones.TemplateMethod.Core/obj/
TD.Patrones.TemplateMethod.Core/bin/
TD.Patrones.TemplateMethod.UI/bin/
TD.Patrones.TemplateMethod.UI/obj/Debug/TD.Patrones.TemplateMethod.UI.csproj.CoreCompileInputs.cache
TD.Patrones.TemplateMethod.UI/obj/
TD.PatronesTemplateMethod.UI2/obj/
TD.PatronesTemplateMethod.UI2/bin/
